.header {
    background: #F7F7F7;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  
  .nav li {
    color: black;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav li:hover {
    color: #4CAF50;
  }